<p style="color: green"><%= notice %></p>

<%= render @artile %>
<br/>
<br/>

<div>
  <h3> Flag status: <%= @show_artilce_details %> </h3>
  <br/>
  <br/>
  <%= link_to "Edit this artile", edit_artile_path(@artile) %> |
  <%= link_to "Back to artiles", artiles_path %>

	<% if @show_delete_button %>
		<%= button_to "Destroy this artile", @artile, method: :delete %>
	<% end %>
</div>
